{
  "api": "{{ .Env.FRONTEND_API_URL }}",
  "eventsUrl": "{{ .Env.FRONTEND_EVENTS_URL }}",
  "eventsMaxMissedHeartbeats": 5,
  "eventsHeartbeatIntervalTime": 60000,
  "eventsReconnectTryInterval": 10000,
  "debug": true,
  "debugInfo": false,
  "defaultLanguage": "ja",
  "themes": ["taiga"],
  "defaultTheme": "taiga",
  "publicRegisterEnabled": true,
  "feedbackEnabled": false,
  "supportUrl": null,
  "privacyPolicyUrl": null,
  "termsOfServiceUrl": null,
  "GDPRUrl": null,
  "maxUploadFileSize": null,
  "contribPlugins": [],
  "tribeHost": null,
  "importers": [],
  "gravatar": false,
  "rtlLanguages": []
}
