{{- $SITE_LISTEN_SSL        := default .Env.SITE_LISTEN_SSL "false" -}}
{{- $SITE_LISTEN_HOST       := default .Env.SITE_LISTEN_HOST "localhost:8000" -}}
{{- $SITE_REGISTER_ENABLED  := default .Env.SITE_REGISTER_ENABLED "false" -}}
{{- $SITE_FEEDBACK_ENABLED  := default .Env.SITE_FEEDBACK_ENABLED "false" -}}
{{- $SITE_GRAVATAR_ENABLED  := default .Env.SITE_GRAVATAR_ENABLED "false" -}}
{{- $SITE_DEBUG_ENABLED     := default .Env.SITE_DEBUG_ENABLED "false" -}}
{{- $FRONTEND_DEBUG_ENABLED := default .Env.FRONTEND_DEBUG $SITE_DEBUG_ENABLED -}}
{
{{- if isTrue $SITE_LISTEN_SSL }}
  "api": "https://{{ $SITE_LISTEN_HOST }}/api/v1",
  "eventsUrl": "wss://{{ $SITE_LISTEN_HOST }}/events",
{{- else }}
  "api": "http://{{ $SITE_LISTEN_HOST }}/api/v1",
  "eventsUrl": "ws://{{ $SITE_LISTEN_HOST }}/events",
{{- end }}
  "eventsMaxMissedHeartbeats": 5,
  "eventsHeartbeatIntervalTime": 60000,
  "eventsReconnectTryInterval": 10000,
{{- if isTrue $FRONTEND_DEBUG_ENABLED }}
  "debug": true,
  "debugInfo": true,
{{- else }}
  "debug": false,
  "debugInfo": false,
{{- end }}
  "defaultLanguage": "ja",
  "themes": ["taiga"],
  "defaultTheme": "taiga",
{{- if isTrue $SITE_REGISTER_ENABLED }}
  "publicRegisterEnabled": true,
{{- else }}
  "publicRegisterEnabled": false,
{{- end }}
{{- if isTrue $SITE_FEEDBACK_ENABLED }}
  "feedbackEnabled": true,
{{- else }}
  "feedbackEnabled": false,
{{- end }}
  "supportUrl": null,
  "privacyPolicyUrl": null,
  "termsOfServiceUrl": null,
  "GDPRUrl": null,
  "maxUploadFileSize": null,
  "contribPlugins": [],
  "tribeHost": null,
  "importers": [],
{{- if isTrue $SITE_GRAVATAR_ENABLED }}
  "gravatar": true,
{{- else }}
  "gravatar": false,
{{- end }}
  "rtlLanguages": ["fa"]
}
