{{- $FRONTEND_LISTEN_SSL  := default .Env.FRONTEND_LISTEN_SSL "false" -}}
{{- $FRONTEND_LISTEN_HOST := default .Env.FRONTEND_LISTEN_HOST "localhost:8000" -}}
{{- $FRONTEND_DEBUG       := default .Env.FRONTEND_DEBUG "false" -}}
{
{{- if isTrue $FRONTEND_LISTEN_SSL }}
  "api": "https://{{ $FRONTEND_LISTEN_HOST }}/api/v1",
  "eventsUrl": "https://{{ $FRONTEND_LISTEN_HOST }}/events",
{{- else }}
  "api": "http://{{ $FRONTEND_LISTEN_HOST }}/api/v1",
  "eventsUrl": "http://{{ $FRONTEND_LISTEN_HOST }}/events",
{{- end }}
  "eventsMaxMissedHeartbeats": 5,
  "eventsHeartbeatIntervalTime": 60000,
  "eventsReconnectTryInterval": 10000,
{{- if isTrue $FRONTEND_DEBUG }}
  "debug": true,
  "debugInfo": true,
{{- else }}
  "debug": false,
  "debugInfo": false,
{{- end }}
  "defaultLanguage": "ja",
  "themes": ["taiga"],
  "defaultTheme": "taiga",
{{- if isTrue $SITE_REGISTER }}
  "publicRegisterEnabled": true,
{{- else }}
  "publicRegisterEnabled": false,
{{- end }}
  "feedbackEnabled": false,
  "supportUrl": null,
  "privacyPolicyUrl": null,
  "termsOfServiceUrl": null,
  "GDPRUrl": null,
  "maxUploadFileSize": null,
  "contribPlugins": [],
  "tribeHost": null,
  "importers": [],
  "gravatar": false,
  "rtlLanguages": []
}
