{{- $FRONTEND_WORKER_PROC := default .Env.FRONTEND_WORKER_PROC "1" -}}
{{- $FRONTEND_WORKER_CONN := default .Env.FRONTEND_WORKER_CONN "1024" -}}
{{- $BACKEND_LISTEN_SSL   := default .Env.BACKEND_LISTEN_SSL "false" -}}
{{- $BACKEND_LISTEN_HOST  := default .Env.BACKEND_LISTEN_HOST "localhost:8080" -}}
{{- $EVENTS_LISTEN_SSL    := default .Env.EVENTS_LISTEN_SSL "false" -}}
{{- $EVENTS_LISTEN_HOST   := default .Env.EVENTS_LISTEN_HOST "localhost:8888" -}}
#user nginx;
error_log /dev/stderr warn;
worker_processes {{ $FRONTEND_WORKER_PROC }};

events {
  worker_connections  {{ $FRONTEND_WORKER_CONN }};
}

http {
  include      /etc/nginx/mime.types;
  default_type application/octet-stream;

  log_format main '$remote_addr - $remote_user [$time_local] "$request" '
                  '$status $body_bytes_sent "$http_referer" '
                  '"$http_user_agent" "$http_x_forwarded_for"';

  access_log /dev/stdout main;

  server {
    listen 8000;
    server_name _;

    large_client_header_buffers 4 32k;
    client_max_body_size 50M;
    charset utf-8;

    location / {
      root /taiga-frontend;
      try_files $uri $uri/ /index.html;
    }

    location /api {
      proxy_set_header Host $http_host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Scheme $scheme;
      proxy_set_header X-Forwarded-Proto $scheme;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
{{- if isTrue $BACKEND_LISTEN_SSL }}
      proxy_pass https://{{ $BACKEND_LISTEN_HOST }}/api;
{{- else }}
      proxy_pass http://{{ $BACKEND_LISTEN_HOST }}/api;
{{- end }}
      proxy_redirect off;
    }

    location /admin {
      proxy_set_header Host $http_host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Scheme $scheme;
      proxy_set_header X-Forwarded-Proto $scheme;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
{{- if isTrue $BACKEND_LISTEN_SSL }}
      proxy_pass https://{{ $BACKEND_LISTEN_HOST }}/admin;
{{- else }}
      proxy_pass http://{{ $BACKEND_LISTEN_HOST }}/admin;
{{- end }}
      proxy_redirect off;
    }

    location /events {
      proxy_http_version 1.1;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "upgrade";
{{- if isTrue $EVENTS_LISTEN_SSL }}
      proxy_pass https://{{ $EVENTS_LISTEN_HOST }}/events;
{{- else }}
      proxy_pass http://{{ $EVENTS_LISTEN_HOST }}/events;
{{- end }}
      proxy_connect_timeout 7d;
      proxy_send_timeout 7d;
      proxy_read_timeout 7d;
    }
  }
}
