[submodule "taiga-back"]
	path = taiga-backend
	url = https://github.com/taigaio/taiga-back.git
[submodule "taiga-front"]
	path = taiga-frontend
	url = https://github.com/taigaio/taiga-front-dist.git
[submodule "taiga-events"]
	path = taiga-events
	url = https://github.com/taigaio/taiga-events.git
