[submodule "taiga-back"]
	path = backend/upstream
	url = https://github.com/taigaio/taiga-back.git
[submodule "taiga-front"]
	path = frontend/taiga-frontend
	url = https://github.com/taigaio/taiga-front-dist.git
[submodule "taiga-events"]
	path = events/upstream
	url = https://github.com/taigaio/taiga-events.git
