{{- /* Backend */ -}}
{{- $BACKEND_CELERY_IN_MEMORY := default .Env.BACKEND_CELERY_IN_MEMORY "false" -}}
{{- $BACKEND_CELERY_TIMEZONE  := default .Env.BACKEND_CELERY_TIMEZONE "UTC" -}}
{{- /* RabbitMQ */ -}}
{{- $RABBITMQ_USER            := default .Env.RABBITMQ_USER "taiga" -}}
{{- $RABBITMQ_PASS            := default .Env.RABBITMQ_PASS "taiga" -}}
{{- $RABBITMQ_HOST            := default .Env.RABBITMQ_HOST "rabbitmq" -}}
{{- $RABBITMQ_PORT            := default .Env.RABBITMQ_PORT "5672" -}}
{{- $RABBITMQ_NAME            := default .Env.RABBITMQ_NAME "taiga" -}}
{{- /* Redis */ -}}
{{- $REDIS_HOST               := default .Env.REDIS_HOST "redis" -}}
{{- $REDIS_PORT               := default .Env.REDIS_PORT "6379" -}}
{{- $REDIS_DB_INDEX_ID        := default .Env.REDIS_DB_INDEX_ID "0" -}}
from .celery import *

# Celery 4.0.2 Documentation
# http://docs.celeryproject.org/en/v4.0.2/index.html

# http://docs.celeryproject.org/en/v4.0.2/userguide/configuration.html#timezone
timezone = '{{ $BACKEND_CELERY_TIMEZONE }}'

# http://docs.celeryproject.org/en/v4.0.2/userguide/configuration.html#broker-url
broker_url = 'amqp://{{ $RABBITMQ_USER }}:{{ $RABBITMQ_PASS }}@{{ $RABBITMQ_HOST }}:{{ $RABBITMQ_PORT }}/{{ $RABBITMQ_NAME }}'

# http://docs.celeryproject.org/en/v4.0.2/userguide/configuration.html#result-backend
result_backend = 'redis://{{ $REDIS_HOST }}:{{ $REDIS_PORT }}/{{ $REDIS_DB_INDEX_ID }}'

# http://docs.celeryproject.org/en/v4.0.2/userguide/configuration.html#task-always-eager
{{- if isTrue $BACKEND_CELERY_IN_MEMORY }}
task_always_eager = True
{{- else }}
task_always_eager = False
{{- end }}
