{{- /* Sites */ -}}
{{- $SITE_SECRET_KEY            := default .Env.SITE_SECRET_KEY "taiga" -}}
{{- $SITE_REGISTER_ENABLED      := default .Env.SITE_REGISTER_ENABLED "false" -}}
{{- /* Listen */ -}}
{{- $FRONTEND_LISTEN_SSL        := default .Env.FRONTEND_LISTEN_SSL "false" -}}
{{- $FRONTEND_LISTEN_HOST       := default .Env.FRONTEND_LISTEN_HOST "localhost:8000" -}}
{{- $BACKEND_LISTEN_SSL         := default .Env.BACKEND_LISTEN_SSL "false" -}}
{{- $BACKEND_LISTEN_HOST        := default .Env.BACKEND_LISTEN_HOST "localhost:8080" -}}
{{- /* URL Suffix */ -}}
{{- $BACKEND_MEDIA_URL_NAME     := default .Env.BACKEND_MEDIA_URL_NAME "media" -}}
{{- $BACKEND_STATIC_URL_NAME    := default .Env.BACKEND_STATIC_URL_NAME "static" -}}
{{- /* Backend */ -}}
{{- $BACKEND_DEBUG_ENABLED      := default .Env.BACKEND_DEBUG_ENABLED "false" -}}
{{- $BACKEND_SERVER_FROM_EMAIL  := default .Env.BACKEND_SERVER_FROM_EMAIL "taiga@localhost" -}}
{{- $BACKEND_DEFAULT_FROM_EMAIL := default .Env.BACKEND_DEFAULT_FROM_EMAIL "noreply@localhost" -}}
{{- /* PostgreSQL */ -}}
{{- $POSTGRESQL_USER            := default .Env.POSTGRESQL_USER "taiga" -}}
{{- $POSTGRESQL_PASS            := default .Env.POSTGRESQL_PASS "taiga" -}}
{{- $POSTGRESQL_HOST            := default .Env.POSTGRESQL_HOST "postgres" -}}
{{- $POSTGRESQL_PORT            := default .Env.POSTGRESQL_PORT "5432" -}}
{{- $POSTGRESQL_NAME            := default .Env.POSTGRESQL_NAME "taiga" -}}
{{- /* RabbitMQ */ -}}
{{- $RABBITMQ_USER              := default .Env.RABBITMQ_USER "taiga" -}}
{{- $RABBITMQ_PASS              := default .Env.RABBITMQ_PASS "taiga" -}}
{{- $RABBITMQ_HOST              := default .Env.RABBITMQ_HOST "rabbitmq" -}}
{{- $RABBITMQ_PORT              := default .Env.RABBITMQ_PORT "5672" -}}
{{- $RABBITMQ_NAME              := default .Env.RABBITMQ_NAME "taiga" -}}
# -*- coding: utf-8 -*-

# Load Default Configuration
from .common import *

# Register
{{- if isTrue $SITE_REGISTER_ENABLED }}
PUBLIC_REGISTER_ENABLED = True
{{- else }}
PUBLIC_REGISTER_ENABLED = False
{{- end }}

# https://docs.djangoproject.com/en/1.11/ref/settings/#debug
{{- if isTrue $BACKEND_DEBUG_ENABLED }}
DEBUG = True
{{- else }}
DEBUG = False
{{- end }}

# https://docs.djangoproject.com/en/1.11/ref/settings/#secret-key
SECRET_KEY = '{{ $SITE_SECRET_KEY }}'

# https://docs.djangoproject.com/en/1.11/ref/settings/#server-email
SERVER_EMAIL = '{{ $BACKEND_SERVER_FROM_EMAIL }}'

# https://docs.djangoproject.com/en/1.11/ref/settings/#default-from-email
DEFAULT_FROM_EMAIL = '{{ $BACKEND_DEFAULT_FROM_EMAIL }}'

# Backend
{{- if isTrue $BACKEND_LISTEN_SSL }}
SITES['api']['scheme'] = 'https'
{{- else }}
SITES['api']['scheme'] = 'http'
{{- end }}
SITES['api']['domain'] = '{{ $BACKEND_LISTEN_HOST }}'

# Frontend
{{- if isTrue $FRONTEND_LISTEN_SSL }}
SITES['front']['scheme'] = 'https'
{{- else }}
SITES['front']['scheme'] = 'http'
{{- end }}
SITES['front']['domain'] = '{{ $FRONTEND_LISTEN_HOST }}'

# https://docs.djangoproject.com/en/1.11/ref/settings/#media-url
# https://docs.djangoproject.com/en/1.11/ref/settings/#static-url
{{- if isTrue $FRONTEND_LISTEN_SSL }}
MEDIA_URL = 'https://{{ $FRONTEND_LISTEN_HOST }}/{{ $BACKEND_MEDIA_URL_NAME }}/'
STATIC_URL = 'https://{{ $FRONTEND_LISTEN_HOST }}/{{ $BACKEND_STATIC_URL_NAME }}/'
{{- else }}
MEDIA_URL = 'http://{{ $FRONTEND_LISTEN_HOST }}/{{ $BACKEND_MEDIA_URL_NAME }}/'
STATIC_URL = 'http://{{ $FRONTEND_LISTEN_HOST }}/{{ $BACKEND_STATIC_URL_NAME }}/'
{{- end }}

# https://docs.djangoproject.com/en/1.11/ref/settings/#databases
DATABASES['default']['ENGINE'] = 'django.db.backends.postgresql'
DATABASES['default']['USER'] = '{{ $POSTGRESQL_USER }}'
DATABASES['default']['PASSWORD'] = '{{ $POSTGRESQL_PASS }}'
DATABASES['default']['HOST'] = '{{ $POSTGRESQL_HOST }}'
DATABASES['default']['PORT'] = '{{ $POSTGRESQL_PORT }}'
DATABASES['default']['NAME'] = '{{ $POSTGRESQL_NAME }}'

# Events
EVENTS_PUSH_BACKEND = 'taiga.events.backends.rabbitmq.EventsPushBackend'
EVENTS_PUSH_BACKEND_OPTIONS = {'url': 'amqp//{{ $RABBITMQ_USER }}:{{ $RABBITMQ_PASS }}@{{ $RABBITMQ_HOST }}:{{ $RABBITMQ_PORT }}/{{ $RABBITMQ_NAME }}'}
